@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #4a785e;
  margin: 0;
}

.bg {
  background: url('img-1.png')
    no-repeat center center/cover;
  position: absolute;
  width: 700px;
  height: 700px;
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #77b391;
}